.primeiro {
background-color: green;
border: 30px solid red;
text-align: center;
margin-left: 1%; 
margin-right: 1%;
padding:1px
 ;
}
.segundo {
    background-color: green;
    border: 30px  solid red;
    text-align:center ;
    margin-left: 1%; 
    margin-right: 1%;
    pad: 1px;
}
h1{text-align: center;
padding: 5%;
background-color: gray;
color: white;
margin-top: 1%;
margin-left: 1%; 
margin-right: 1%; 
margin-bottom: 0%;
}
footer{text-align: center;
padding: 1.8%;
color: white;
background-color: gray;
margin-left: 1%; 
margin-right: 1%;
margin-bottom: 1%;
}